<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/assets/styles/style.css">

</head>
<body>
    <nav class="menubar">
        <a href="index">Domov</a>
        <a href="news">Oznamy</a>
        <a href="request">Recept</a> 
        <a href="hours">Ordinacne hodiny</a>
        <a href="docs">Dokumenty</a>
        <a href="contact">Kontakt</a>
        <a href="login">Prihlasenie doktora</a>
    </nav>
    <br>
    {{{body}}}
</body>
</html>

